.container{
    /* position: relative; */
    /* height: 100vh; */
    /* display: block;
    float: left;
    width: 100%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: scroll; */
    height: 100vh;
    
    /* width:100%; */
    /* position: relative; */
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 15%; /* Specifying Column Gap */
    margin: 50px;
    max-height: 80vh;
    overflow: hidden;
  }

.imgContainer {
    position: relative;
    /* height: 100vh; */
    display: block;
    float: left;
    width: 100%;
    height: 40vh;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.slide {
    height:100%;
}
.aboutText {
    position: relative;
    height: 100%;
    display: block;
}

.contactDetails {
    position: absolute; 
    background-color: white;
    bottom: 50px;
    left: 50px;
    max-width: 24vw;
    
}

@media screen and (--viewport-narrow-max) {
    .container{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .contactDetails{
        position: relative; 
        background-color: none;
        max-width: 60%;
        /* margin: 50px; */
    }

  }