
.navMain {
  padding: 25px 50px 10px 50px;
}
.navMain ul {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    flex-wrap: wrap; */
    padding: 0;
  }
  
  .navMain li {
    /* margin: 0 0.5rem; */
    list-style-type: none;
    font-size: 12px;
  }
  
  .navMain a {
    display: block;
    line-height: 2;
    
    /* color: inherit; */
    text-decoration: none;
    
  }

  .navItem{
    color: black;
  }
  
  
  /* .navMain a:hover {
    text-shadow: 0.5px 0.5px black ;
  } */
  .navSmall{
    z-index: 100;
    padding: 25px 50px 10px 50px;

  }
  .navSmall ul {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    flex-wrap: wrap; */
    /* margin: 1rem; */
    padding: 0;
    list-style:none; 
    padding-left: 0; 
    z-index: 100;
    
   
  }
  
  .navSmall li {
    /* margin: 0 0.5rem; */
    list-style-type: none;
    z-index: 100;
    font-size: 12px;
    
  }
  
  .navSmall a {
    display: block;
    line-height: 2;
    text-decoration: none;
    /* color: black; */
    padding-left: 0; 
    z-index: 100;
    /* padding: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; */
  }


  

  .dropDownMenu{
    padding:10px 10px 10px 10px;
    background-color: white;
    visibility: visible;
    /* overflow-y: auto; */
    /* width: fit-content; */
    z-index: 100;
    text-align: right;
    
  }
  .dropDownTitle{
    color: var(--grey);
    background-color: white;
    text-align: right;
    cursor: pointer;
    min-width: 120px;
    font-size: 18px;
    
  }

    /* media query for small screen */
  @media screen and (--viewport-narrow-max) {
    .navMain {
     display: none;
    }
    .navSmall{
      display: block;
      

    }
  }
    /* media query for large screen? make new menu appear */
  @media screen and (--viewport-narrow-min) {
    .navMain {
      display: block;
     }
     .navSmall{
       display: none;
 
     }
  }
  

  .navItem[aria-current] {
    color: var(--grey);
    text-decoration: none;
    
  }

  [aria-pressed="true"] {
    color: var(--black);
  }